@import "../../scss/color";

.auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid $red900;
  gap: 15px;
  min-width: 300px;
  max-width: 550px;
  width: 100%;
  height: fit-content;
  max-height: 510px;

  .authTitle {
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-transform: capitalize;
  }

  .error {
    font-size: 8px;
    color: red;
    margin-left: 5px;
  }
  .inputSection{
    width: 100%;
    .inputLabel {
      font-size: 12px;
      color: $red900;
      margin-left: 10px;
    }
    .input {
      width: 100%;
      background: $redAlpha100;
      border: none;
      height: 30px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 15px;
      transition: 0.3s all;
      font-size: 16px;
      color: $red900;
      &:focus, &:focus-visible {
        outline: 2px solid $red900;
        transform: scale(0.99);
        box-shadow: 0 0 10px $red900;
      }
    }
  }


  .submitButton{
    width: 100%;
    padding: 10px;
    height: fit-content;
    background: $redAlpha800;
    border: none;
    color: white;

    &:disabled {
      background: grey;

      &:hover {
        transform: none;
        box-shadow: none;
        filter: none;
      }
    }
  }
  .button {
    border: none;
    background: none;
    width: fit-content;
    height: fit-content;
    padding: 0;
    font-size: 12px;
    &:hover {
      animation: none;
      transition: none;
      box-shadow: none;
    }
  }
}
