@import "../../scss/color";

.modesBlock {
    border: 2px solid $red900;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    max-width: 150px;
    border-radius: 30px;
    gap: 5px;
    cursor: pointer;
    color: $red900;
    z-index: 1;
}

.pomodoroStyle {
    background: $redAlpha100;
}

.shortBreakStyle {
    background: $greenAlpha100;
}

.longBreakStyle {
    background: $blueAlpha100;
}