// Pomodoro Colors

$red50: #FFF2F2;
$red900: #471515;
$redAlpha100: rgba(255, 76, 76, 0.15);
$redAlpha700: rgba(255, 76, 76, 0.71);
$redAlpha800: rgba(255, 76, 76, 0.81);

// Short Break Colors

$green50: #F2FFF5;
$green900: #14401D;
$greenAlpha100: rgba(77, 218, 110, 0.15);
$greenAlpha700: rgba(77, 218, 110, 0.71);

// Long Break Colors

$blue50: #F2F9FF;
$blue900: #153047;
$blueAlpha100: rgba(76, 172, 255, 0.15);
$blueAlpha700: rgba(76,172,255, 0.71);