@import "../../scss/color";

.header {
  position: absolute;
  padding: 20px 20px;
  margin: 10px 3%;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 30px;
  border: 2px solid $red900;
  top: 0;

  .userName {
    font-size: 29px;
    font-weight: 900;
    color: $red900;
    margin: 0;
    cursor: pointer;
    user-select: none;
  }
  .userBlock {
    position: relative;

    .userMenuDropdown {
      position: absolute;
      right: 0;
      width: 150px;
      background: $red900;
      border-radius: 25px;
      border: 1px solid $red900;
      display: flex;
      flex-direction: column;
      gap: 10px;
      opacity: 100;

      .menuButton {
        width: 100%;
        font-size: 28px;
        padding: 0;
        height: fit-content;
        border: none;
        color: white;
        border-radius: 25px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 10px;
  }
}